<footer class="siteFooter">
  <div class="footerInner">
    <div class="footerCol">
      <h5 class="footerBrand">Essencia Fit</h5>
      <p class="footerText">
        Tu tienda de confianza en suplementos deportivos. Calidad y resultados
        respaldados por las mejores marcas del mercado.
      </p>
      <div class="footerSocial">
  <a href="#" class="socialIcon" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
  <a href="#" class="socialIcon" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
  <a href="#" class="socialIcon" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
  <a href="#" class="socialIcon" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
</div>
    </div>

    <div class="footerCol">
      <h6 class="footerTitulo">Enlaces rápidos</h6>
      <ul class="footerLinks">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a href="#">Categorías</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="footerCol">
      <h6 class="footerTitulo">Nuestras políticas</h6>
      <ul class="footerLinks">
        <li><a href="#">Política de cookies</a></li>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Libro de reclamaciones</a></li>
      </ul>
    </div>

    <div class="footerCol">
      <h6 class="footerTitulo">Contáctanos</h6>
      <ul class="footerLinks">
       <li><i class="bi bi-geo-alt"></i> Villa el Salvador, Lima, Perú</li>
<li><i class="bi bi-envelope"></i> contacto@essenciafit.com</li>
<li><i class="bi bi-telephone"></i> +51 999 999 999</li>
      </ul>
    </div>
  </div>

  <div class="footerBottom">
    <p>© 2025 - Essencia Fit | Proyecto Universitario UTP</p>
  </div>
</footer>